body {
  color: white;
  background-color: #7395AE;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-weight: normal;
}

.arts {
    background-color: #C38D9E;
}

h1 {
  font-weight: 200;
  text-align: center;
  color: white;
  background-color: inherit;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

h2 {
  text-decoration: blink;
  color: beige;
  background-color: inherit;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-weight: normal;
}

p {
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  color: white;
  background-color: inherit;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

li {
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  color: white;
  background-color:inherit;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

li a {
    background-color:inherit;
    color: white;
    font-style: italic;
}

li q {
    background-color: inherit;
    color:white;
    font-size: 20px;
}

p q{
    background-color: inherit;
    color:white;
}

#arts-footer-wrapper {
    height: 65px;
    margin: 0 auto;
    color: inherit;
    background-color: #C38D9E;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#arts-footer-content
{
    height:65px;
    max-height:120px;
    position:relative;
    width:100%;
    max-width:950px;
    margin: auto;
    margin-top: 20px;
    color: inherit;
    background-color: #C38D9E;
}
/* TODO: Not ideal fix but call it end of today */

#footer-wrapper {
    height: 65px;
    margin: 0 auto;
    color: inherit;
    background-color: #7395AE;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer-content
{
    height:65px;
    max-height:120px;
    position:relative;
    width:100%;
    max-width:950px;
    margin: auto;
    margin-top: 20px;
    color: inherit;
    background-color: #7395AE;
}

footer {
    margin-top: 20px;
    position: fixed;
    width: 100%;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    padding-top: 10px;
    padding-bottom: 0px;
    bottom: 0%;
}

footer a:link {
  background-color: inherit;
  color: white;
  text-decoration: none;
}

footer a:visited {
  background-color: inherit;
  color: white;
}

.main{
    padding-top: 30px;
    padding-bottom: 70px;
    line-height: 1.8;
}

.profile{
    float: left;
    width: 50%;
}

.has-icon {
    font-size: 120%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    font-size: 120%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
}

.column {
    float: left;
    width: 33%;
    padding-bottom: 25px;
}

.column1 {
    float: left;
    width: 25%;
    padding-bottom: 25px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.projects {
    font-size: 120%;
    text-align: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.project {
    float: left;
    width: 45%;
    height: 560px;
    border: 1px dotted white;
    margin: 15px;
    padding: 5px;
}

.img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.row a:link {
  background-color: inherit;
  color: white;
  text-decoration: none;}
.row a:visited {
  background-color: inherit;
  color: white;
}
.project a:link {
  background-color: inherit;
  color: white;
  text-decoration: none;
}

.project a:visited {
  background-color: inherit;
  color: white;
}
